<div class='page user-dashboard'>
  <h2 class='page-title'><%= @facade.user_name %>'s Dashboard</h2>
  <h3>My Leagues:</h3>
  <section class="section-head leagues-for-user">
    <% if @facade.all_leagues_for_user == [] %>
      <h3>You are currently in 0 leagues.</h3>
    <% else %>
      <ol>
        <% @facade.all_leagues_for_user.each do |league| %>
        <li id="league_<%= league.id %>">
          <%= link_to league.name, league_path(league.id), class: 'league-summary' %>
        </li>
      </ol>
      <% end %>
    <% end %>
  </section>
  <%= button_to "Create League", new_league_path, method: :get, class: 'btn-primary' %>
</div>