<div class="title-page">
  <%= image_tag ("/assets/title_image.png"), class: "title-image" %>

  <%= button_to "Login with Google", new_user_path, method: :get, class: "google-oauth-link" %>
  <a class="google-oauth-link" href="/">
    
  </a>
</div>