/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: #1e1e1e;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #ae662c;
  padding: 0;
  margin: 0;
}

a {
  color: #1d1c21;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px
}

table {
  border: 2px solid #646260;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

thead {
  background-color: #ae662c;
  color: #1d1c21;
  font-weight: 700;
}

tbody {
  background-color: #1d1c21;
  color: #ae662c;
  font-weight: 700;
}

tr {
  border: 2px solid #646260;
  padding: 8px;
}

td {
  border: 2px solid #646260;
}

.link-secondary {
  color: #ae662c;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.btn-primary {
  background-color: #ae662c;
  color: #1d1c21;
  border: 2px solid #646260;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
  padding: 8px 16px;
  margin: 16px;
}

.btn-secondary {
  background-color: #1d1c21;
  color: #ae662c;
  border: 1px solid #ae662c;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 8px;
  margin: 8px;
}

.page {
  margin: 2%;
}

input[type=checkbox] {
  accent-color: #ae662c;
}

.header {
  background-color: #ae662c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  color: #1d1c21;
}

.head-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logout {
  border-left: 2px solid #1d1c21;
  padding-left: 16px;
}

.right-links {
  text-transform: uppercase;
}

.input-field-primary {
  background-color: #1d1c21;
  color: #ae662c;
  border: 1px solid #ae662c;
  border-radius: 5px;
}

.td-primary {
  text-align: left;
}


#head-content {
  font-size: 24px;
  font-weight: 700;
  color: #1d1c21;
}

#hoop-logo {
  height: 30px;
}