<div class="header">
  <a class="head-logo" href="/">
    <%= image_tag ("/assets/hoop_logo.png"), id: "hoop-logo" %>
    <div id="head-content"> DRAFT MADNESS</div>
  </a>
  <ul class="right-links">
    <li><%= link_to 'Welcome Page', root_path %></li>
    <li><a href="#">Link One</a></li>
    <li><a href="#">Link Two</a></li>
    <li><a href="#">Link Three</a></li>
  </ul>
</div>